/* =============================================================================
   HTML5 CSS Reset Minified - Eric Meyer
   ========================================================================== */

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent
}

body {
  line-height: 1
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block
}

nav ul {
  list-style: none
}

blockquote,
q {
  quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold
}

del {
  text-decoration: line-through
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0
}

input,
select {
  vertical-align: middle
}

li {
  list-style: none
}


/* =============================================================================
   My CSS
   ========================================================================== */

/* ---- base ---- */

html,
body {
  width: 100%;
  height: 100%;
  /* background: #111; */
  background: #0D2130;
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font: normal 75% Arial, Helvetica, sans-serif;
}

canvas {
  display: block;
  /* vertical-align: bottom; */
}


/* ---- stats.js ---- */

.count-particles {
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13E8E9;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles {
  font-size: 1.1em;
}

#stats,
.count-particles {
  /* -webkit-user-select: none; */
  margin-top: 5px;
  margin-left: 5px;
}

#stats {
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles {
  border-radius: 0 0 3px 3px;
}


/* ---- particles.js container ---- */

#particles-js {
  width: 100%;
  height: 100%;
  background-color: #0c0c50;
  background-image: url(/demo/images/pexels-photo-176851.jpeg
);

  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

/* my own portfolio css starts here */
/* ///////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////// */

body {
  overflow-x: hidden;
  box-sizing: border-box;

}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }

}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }

}

@keyframes makeButtonAppear {
  0% {
    opacity: 0;
    transform: translateY(50px);

    padding: 0px 0px;
    margin: 0px;


    border-radius: 0px;
    color: white;

    font-size: 2vw;

  }

  100% {
    opacity: 1;
    transform: translateY(0);

    padding: 5px 20px;

    margin: 10px;


    border-radius: 5px;

    font-size: 2vw;
  }

}




.header {
  display: flex;
  flex-direction: column;
  /* top: 40%; */
  /* left: 10vw; */
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  color: #FFFDF7;
  height: 100px;
  width: 85vw;
  font-size: 4vw;


  font-family: 'Courier New', Courier, monospace;
  /* background-color: #13E8E9; */

}

#james {
  color: #B91327;
}

#header-top {
  animation: 2s ease-out 0s 1 slideInFromRight;
}

#header-bottom {
  animation: 2s ease-out 0s 1 slideInFromLeft;
}



.projects-btn {
  margin: 5px 20px;
  padding: 5px 20px;
  align-items: center;
  margin: 10px;

  background-color: rgba(131, 131, 131, 0.137);
  /* border: solid 2px rgba(255, 255, 255, 0.342); */

  border: solid 2px transparent;
  border-image: linear-gradient(243deg, rgba(13, 33, 48, 1) 0%, rgba(255, 253, 247, 1) 47%, rgba(13, 33, 48, 1) 100%);
  border-image-slice: 1;

  border-radius: 5px;
  color: #FFFDF7;

  font-size: 2vw;
  animation: 1.5s linear 0s 1 makeButtonAppear;
  transition: 0.2s;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
}

.projects-btn a {
  color: #ccc;
}


.projects-btn:hover {
  background-color: rgba(131, 131, 131, 0.137);
  /* border: solid 2px rgba(255, 255, 255, 0.801); */

  border: solid 2px transparent;
  border-image: linear-gradient(243deg, rgb(26, 63, 92) 0%, rgba(255, 253, 247, 1) 47%, rgba(13, 33, 48, 1) 100%);
  border-image-slice: 1;

  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.projects-btn:active {
  box-shadow: 5px 5px 2.5px 0px rgba(0, 0, 0, 0.75);
}

#navbar {
  height: 50px;
  background-color: #0D2130;
  /* border: solid 2px rgba(255, 255, 255, 0.342); */

  border: solid 5px transparent;
  border-image: linear-gradient(243deg, rgba(13, 33, 48, 1) 0%, rgba(255, 253, 247, 1) 47%, rgba(13, 33, 48, 1) 100%);
  border-image-slice: 1;

}



#navbar ul {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #0d213094;

}

#navbar ul li a {
  font-size: 20px;
  color: #ccc;
  font-weight: bold;
  transition: 2sec;
}



#navbar ul a:hover {
  box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, 0.199);
  background-color: rgba(255, 255, 255, 0.199);

}



#about-div {
  padding-top: 50px;
  background-color: #0D2130;
  display: flex;
  justify-content: center;
}

#about-header {
  color: #B91327;
  font-size: 5vw;
}




#outer-container {
  display: flex;
  flex-direction: row;
}



@keyframes aboutAnimation {
  0% {
    border: solid 5px transparent;
    border-image: linear-gradient(243deg, rgba(255, 253, 247, 1) 0%, rgba(13, 33, 48, 1) 47%, rgba(255, 253, 247, 1) 100%);
    border-image-slice: 1;
  }

  100% {
    border: solid 5px transparent;
    border-image: linear-gradient(243deg, rgba(13, 33, 48, 1) 0%, rgba(255, 253, 247, 1) 47%, rgba(13, 33, 48, 1) 100%);
    border-image-slice: 1;
  }

}

.img-container:hover {
  animation: 0.7s linear 0s 1 aboutAnimation;
}



#avatar-img {
  /* margin-top: 90px; */
  height: 150px;
  border: solid 5px transparent;
  border-image: linear-gradient(243deg, rgba(13, 33, 48, 1) 0%, rgba(255, 253, 247, 1) 47%, rgba(13, 33, 48, 1) 100%);
  border-image-slice: 1;
  border-radius: 5px;
}

#avatar-img:hover {
  animation: 0.7s linear 0s 1 aboutAnimation;
}


/* #projects-outer-container {
  padding-top: 50px;
  padding-bottom: 400px;
  height: 210vh;
  background-color: #0D2130;
} */


#projects-header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5vw;
  color: #B91327;
}

.project-container {
  border: solid 5px transparent;
  border-image: linear-gradient(243deg, rgba(13, 33, 48, 1) 0%, rgba(255, 253, 247, 1) 47%, rgba(13, 33, 48, 1) 100%);
  border-image-slice: 1;
  height: 200px;
  /* background-color: #063535; */
  margin: 10px;
}

.project-container:hover {
  animation: 0.7s linear 0s 1 aboutAnimation;
}

#contact-outer-container {
  padding-top: 50px;
  color: #ccc;
  height: 100%;
  background-color: #0D2130;
}

#contact-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

#contact-header {
  font-size: 5vw;
  color: #B91327;
}

#contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#contact-paragraph {
  width: 50vw;
  font-size: 2vw;
}

#contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

input {
  width: 300px;
  background-color: #000;
  color: #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

#message {
  height: 100px;
}

#btn {
  padding: 5px 20px;
  align-items: center;
  margin: 10px;

  background-color: rgba(131, 131, 131, 0.137);
  /* border: solid 2px rgba(255, 255, 255, 0.342); */

  border: solid 2px transparent;
  border-image: linear-gradient(243deg, rgba(13, 33, 48, 1) 0%, rgba(255, 253, 247, 1) 47%, rgba(13, 33, 48, 1) 100%);
  border-image-slice: 1;

  border-radius: 5px;
  color: #FFFDF7;

  font-size: 2vw;
  animation: 1.5s linear 0s 1 makeButtonAppear;
  transition: 0.2s;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
}

#btn:hover {
  background-color: rgba(131, 131, 131, 0.137);
  /* border: solid 2px rgba(255, 255, 255, 0.801); */

  border: solid 3px transparent;
  border-image: linear-gradient(243deg, rgb(26, 63, 92) 0%, rgba(255, 253, 247, 1) 47%, rgba(13, 33, 48, 1) 100%);
  border-image-slice: 1;

  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

#btn:active {
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
}



/* ////////////media queries/////////////////////////// */


/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) {
  #about-container {
    padding-top: 20px;
  }
} */

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 300px) {
  .header {
    font-size: 6vw;
  }

  .projects-btn {
    font-size: 3vw;
  }

  #outer-container {
    /* padding-top: 60px; */
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
  }

  #about-container {
    padding-top: 110px;
    color: #ccc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 50vh;
    background-color: #0D2130;
    font-weight: 15px;
  }

  #experience-container {
    display: grid;
    grid-template-areas:
      "topbar topbar topbar"
      "midbar midbar midbar"
      "btmbar btmbar btmbar";
    /* display: flex;
    flex-direction: row; */
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 100vw;
    background-color: #0D2130;
    /* background-color: #1c4564; */
  }

  #about-paragraph {
    padding: 50px;
    padding-bottom: 0px;
    /* margin-left: 50px; */
    /* margin-right: 100px; */
    font-size: 3.5vw;
  }

  .img-container {
    display: flex;
    flex-direction: column;
    border: solid 5px transparent;
    border-image: linear-gradient(243deg, rgba(13, 33, 48, 1) 0%, rgba(255, 253, 247, 1) 47%, rgba(13, 33, 48, 1) 100%);
    border-image-slice: 1;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding: 20px;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    color: #ccc;
  }

  .exp-img {
    height: 40px;
  }

  #contact-outer-container {
    padding-top: 00px;
    color: #ccc;
    height: 100%;
    background-color: #0D2130;
    background-color: #d4d5d6;
  }


}

/* Medium devices (landscape tablets, 768px and up */
/* i changes the min widths */
@media only screen and (min-width: 600px) {
  .header {
    font-size: 4vw;
  }

  .projects-btn {
    font-size: 2vw;
  }


  #outer-container {
    /* background-color: #13E8E9; */
    display: flex;
    flex-direction: column;
    padding-bottom: 200px;
    padding-top: 50px;
  }

  #about-container {
    padding-top: 0px;
    color: #ccc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding-left: 20px;
      padding-right: 20px; */
    width: 100vw;
    height: 50vh;
    background-color: #0D2130;
    /* background-color: #34556e; */
    font-weight: 15px;
  }

  #experience-container {
    display: grid;
    grid-template-areas:
      "topbar topbar topbar"
      "midbar midbar midbar"
      "btmbar btmbar btmbar";
    /* display: flex;
      flex-direction: row; */
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 100vw;
    background-color: #0D2130;
    /* background-color: #1c4564; */
  }

  #about-paragraph {
    padding: 50px;
    /* margin-left: 50px; */
    /* margin-right: 100px; */
    font-size: 2.5vw;
  }

  .img-container {
    display: flex;
    flex-direction: column;
    border: solid 5px transparent;
    border-image: linear-gradient(243deg, rgba(13, 33, 48, 1) 0%, rgba(255, 253, 247, 1) 47%, rgba(13, 33, 48, 1) 100%);
    border-image-slice: 1;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding: 20px;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    color: #ccc;
  }

  .exp-img {
    height: 40px;
  }

  #projects-outer-container {
    padding-top: 50px;
    padding-bottom: 100px;
    /* height: 210vh; */
    height: 100%;
    background-color: #0D2130;
  }

  .projects-container {
    padding-top: 50px;
    /* height: 300vh; */
    height: 100%;
    background-color: #0D2130;
    background-color: #6186a1;
  }
}

#contact-outer-container {
  color: #ccc;
  height: 100%;
  background-color: #0D2130;
}




/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 902px) {} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 950px) {
  #outer-container {
    padding-top: 50px;
    display: flex;
    flex-direction: row;
  }

  #about-container {
    color: #ccc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    width: 50vw;
    height: 70vh;
    background-color: #0D2130;
    /* background-color: #34556e; */
    font-weight: 15px;
  }

  #experience-container {
    display: grid;
    grid-template-areas:
      "topbar topbar topbar"
      "midbar midbar midbar"
      "btmbar btmbar btmbar";
    grid-column-end: auto;
    /* display: flex;
    flex-wrap: wrap;
    flex-direction: row; */
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 50vw;
    background-color: #0D2130;
    /* background-color: #1c4564; */
  }

  #about-paragraph {
    padding-top: 50px;
    font-size: 2vw;
  }

  .img-container {

    border: solid 5px transparent;
    border-image: linear-gradient(243deg, rgba(13, 33, 48, 1) 0%, rgba(255, 253, 247, 1) 47%, rgba(13, 33, 48, 1) 100%);
    border-image-slice: 1;
    margin: 10px 10px 10px 10px;
    text-align: center;
    padding: 20px;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    color: #ccc;
  }

  .exp-img {
    height: 50px;
  }
}